<%= content_for :head do %>
    <%= stylesheet_link_tag "customer_business" %>
    <%= javascript_include_tag "jquery.md5" %>
    <%= javascript_include_tag "message" %>
    <%= javascript_include_tag "question" %>
    <%= javascript_include_tag "sendMSG" %>
<% end %>

<!---main-content{{{{--->
<div class="main-content">
    <!---admin-content{{{{{--->
    <div class="admin-content">
        <h2>选择客户问题类别</h2>
        <div class="question_tabs">
            <ul>
                <div class="radio" id="J-question_type">
                    <input type="radio" id="J-flowCreate" name="question_type" value="repair"/>
                    <label for="J-flowCreate">维修</label>
                    <input type="radio" id="J-carBuying" name="question_type" value="buy_car"/>
                    <label for="J-carBuying">购车</label>
                    <input type="radio" id="J-partBuying" name="question_type" value="buy_part" CHECKED="checked"/>
                    <label for="J-partBuying">购件</label>
                    <input type="radio" id="J-consulting" name="question_type" value="consulting"/>
                    <label for="J-consulting">咨询</label>
                    <input type="radio" id="J-complaint" name="question_type" value="complaint"/>
                    <label for="J-complaint">投诉</label>
                </div>
            </ul>
        </div>
        <input type="hidden" id="J-customer_id" value="<%= @customer.id %>"/>
        <input type="hidden" id="J-current_user" value="<%= current_user.fullname %>"/>
        <!----J-part_buying{---->
        <div id="J-part_buying">
            <div class="content-set">
                <div class="hd">
                    <h2>客户信息</h2>
                </div>
                <div class="bd">
                    <dl class="details-info">
                        <table>
                            <tr>
                                <td>
                                    <label for="J-customer_name">客户姓名</label>
                                    <input id="J-buy_part_customer_name" value="<%= @customer.fullname %>" class="inp16" type="text"/>
                                </td>
                                <td>
                                    <label for="">客户电话</label>
                                    <input id="J-buy_part_customer_phone" value="<%= @customer.phone %>" class="inp16" type="text"/>
                                </td>
                            </tr>
                        </table>
                    </dl>
                </div>
                <!----}}bd---->
            </div>
            <div class="content-set">
                <div class="hd">
                  <h2>购件信息</h2>
                </div>
                <div class="bd">
                    <dl class="details-info">
                        <table>
                            <tr>
                                <td>
                                    <label for="J-buyPartQuestion" class="question_desc">购件信息</label>
                                    <textarea type="text" id="J-buyPartQuestion" class="textarea1 textarea-business"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <dt style="padding-top: 4px;">购件经理</dt>
                            <dd id="J-buypart_manager">
                              <% if @managers %>
                                  <% @managers.each do |manager| %>
                                      <input type='radio' name='buypart_manager' value='<%= manager.phone %>'/>
                                      <label><%= manager.fullname %></label>
                                  <% end %>
                              <% end %>
                            </dd>
                        </div>
                        	<dt>发送业务信息</dt>
                        	<dd id="J-is_send">
                        		<input type="radio" name="is_send" value="0" checked="checked"/>
                        		<label>否</label>
                        		<input type="radio" name="is_send" value="1"/>
                        		<label>是</label>
                        	</dd>
                    </dl>
                </div>
                <div class="save-part-btn">
                  <button type="submit" id="J-add-buy-part-save">保存</button>
                  <button type="cancel" id="J-add-buy-part-cancel cancel-btn" class="cancel-btn">取消</button>
                </div>
            </div>
            <!----}}}content-set---->
        </div>
        <!----}J-part_buying---->
    </div>
    <!---}}}}admin-content--->
</div>
<!---}}}}main-content--->