<%= content_for :head do %>
    <%= javascript_include_tag "jquery.md5" %>
    <%= javascript_include_tag "message" %>
<% end %>
<!----main-content{{{{---->
<div class="main-content">
    <!----admin-content{{{{{---->
    <div class="admin-content">
<h2>选择客户级别<span class="info"></span></h2>
<div class="form-set">
  <ul>
    <dt class="selectCategory">
      <label for="J-select_category">选择客户级别</label>
    </dt>
    <dd class="selectCategory">
      <div class="">
        <% if @categories.any? %>
          <% @categories.each do |category| %>
             <% if category.category.nil? %>
             <% else %>
                <input type="checkbox" id="<%= category.id %>"
                       name="category" value="<%= category.category %>" />
                <label for="<%= category.id %>">
                       <%= category.category %></label>
             <% end %>
          <% end %>
        <% end %>
      </div>
    </dd>
    <div class="tool-bar clrfix">
      <button class="submit-btn" id="J-go_send">下一步</button>
      <button class="cancel-btn">取消</button>
    </div>
  </ul>
</div>
</div></div>