<%=  content_for :head do %>
    <%=  javascript_include_tag "complaint" %>
<% end %>
<div class="main-content">
    <div class="admin-content">
      <!--编辑投诉表单信息-->
     	<div id="J_edit_contact" class="contact-form">
     		<h2><%=  link_to "投诉", question_car_buyings_path(@question) %>&gt;&gt;编辑投诉信息<span class="info"></span></h2>
     		<form method="put" action="" id="J-edit-contact-form">
     			<dl class="clrfix">
     				<dt><label for="J-customer_name">客户姓名</label></dt>
                   <dd><input type="text" id="J-customer_name" value="<%= @customer.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                     <br/><dt><label for="J-custoemr_phone">客户电话</label></dt>
                   <dd><input type="text" id="J-customer_phone" value="<%= @customer.phone %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-description">投诉问题</label></dt>
                   <dd><textarea id="J-description" class="textarea textarea2b" ><%= @complaint.description %></textarea></dd>
                   <br/><dt><label for="J-description">处理措施</label></dt>
                 <dd><textarea id="J-measures" class="textarea textarea2b" ><%= @complaint.measures  %></textarea></dd>
                   <br/><dt><label for="J-manager">处理人</label></dt>
                   <dd><input type="text" id="J-manager" value="<%= current_user.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt>级别</dt>
                     <dd>
                       <div class="">
                           <input type="radio" id="J-category1" name="category" value="一般" /><label for="J-category1">一般</label>
                           <input type="radio" id="J-category2" name="category" value="重大" /><label for="J-category2">重大</label>
                       </div>
                     </dd>
                   <br/><dt>状态</dt>
                   <dd>
                       <div class="">
                           <input type="radio" id="J-status1" name="status" value="未处理" /><label for="J-status1">未处理</label>
                           <input type="radio" id="J-status2" name="status" value="处理中" /><label for="J-status2">处理中</label>
                           <input type="radio" id="J-status3" name="status" value="已处理" /><label for="J-status3">已处理</label>
                       </div>
                   </dd>
     			</dl>
     		</form>
     	</div>
     	<!--编辑购车表单信息-->
      <br/>
      <div class="tool-bar clrfix">
        <input type="hidden" name="qid" value="<%= @question.id %>" id="J-question_id" />
        <button type="submit" class="submit-btn" id="J-add_edit_info">保存</button>
        <button type="cancel" class="cancel-btn">取消</button>
      </div>
    </div>
</div>
