<%=  content_for :head do %>
    <%=  javascript_include_tag "complaint" %>
<% end %>
<div class="main-content">
    <div class="admin-content">
      <!--编辑投诉表单信息-->
     	<div id="J_edit_contact" class="contact-form">
     		<h2><%=  link_to "投诉", question_car_buyings_path(@question) %>&gt;&gt;编辑投诉信息<span class="info"></span></h2>
     		<form method="put" action="" id="J-edit-contact-form">
     			<dl class="clrfix">
     				<dt><label for="J-customer_name">客户姓名</label></dt>
                    <dd><input type="text" id="J-customer_name" value="<%= @customer.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                    <br/><dt><label for="J-custoemr_phone">客户电话</label></dt>
                    <dd><input type="text" id="J-customer_phone" value="<%= @customer.phone %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-description">投诉问题</label></dt>
                    <dd><textarea id="J-description" class="textarea textarea2b" readonly="readonly" ><%= @complaint.description %></textarea></dd>
                   <br/><dt><label for="J-description">处理措施</label></dt>
                    <dd><textarea id="J-measures" class="textarea textarea2b" readonly="readonly" ><%= @complaint.measures %></textarea></dd>
                   <br/><dt><label for="J-manager">处理人</label></dt>
                    <dd><input type="text" id="J-manager" value="<%= current_user.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt>类别</dt>
                    <dd>
                      <input type="text" id="J-category" value="<%= @complaint.category %>" class="inp inp2 focus" readonly="readonly"/>
                    </dd>
     			</dl>
     		</form>
     	</div>
     	<!--编辑购车表单信息-->
      <br/>
      <div class="tool-bar clrfix">
        <input type="hidden" name="qid" value="<%= @question.id %>" id="J-question_id" />
        <% if @complaint == @complaints.first %>
          <%= button_to "编辑", edit_question_complaint_path(@question, @complaint), :class=>"button", :method => :get %>
        <% end %>
        <%= button_to "返回", :back, :class=>"button cancel-btn" %>
      </div>
    </div>
</div>
