<%=  content_for :head do %>
    <%=  javascript_include_tag "part_buying" %>
    <%= javascript_include_tag "jquery.md5" %>
<% end %>
<div class="main-content">
    <div class="admin-content">
      <!--编辑购件表单信息-->
     	<div id="J_edit_contact" class="contact-form">
     		<h2><%=  link_to "购件", question_part_buyings_path(@question) %>&gt;&gt;编辑购件信息<span class="info"></span></h2>
     		<form method="put" action="" id="J-edit-contact-form">
     			<dl class="clrfix">
     				<dt><label for="J-customer_name">客户姓名</label></dt>
                   <dd><input type="text" id="J-customer_name" value="<%= @customer.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-custoemr_phone">客户电话</label></dt>
                   <dd><input type="text" id="J-customer_phone" value="<%= @customer.phone %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-description">购件意向</label></dt>
                   <dd><textarea id="J-description" class="textarea textarea2" ><%= @part_buying.description %></textarea></dd>
                     <!--<dt><label for="J-referral">推荐人</label></dt>-->
                   <!--<dd><input type="text" id="J-referral" value="<%#= @part_buying.referral %>" class="inp inp2 focus" readonly="readonly" /></dd>-->
                   <br/><dt><label for="J-manager">购件经理</label></dt>
                   <dd><input type="text" id="J-manager" value="<%= @part_buying.manager %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <!--<br/><dt><label for="J-salesman">业务员</label></dt>-->
                   <!--<dd><input type="text" id="J-salesman" value="<%#= @part_buying.salesman %>" class="inp inp2 focus" /></dd>-->
                   <br/><dt>状态</dt>
                     <dd>
                       <div class="">
                           <input type="radio" id="J-status1" name="status" value="洽谈" /><label for="J-status1">洽谈</label>
                           <input type="radio" id="J-status2" name="status" value="已购" /><label for="J-status2">已购</label>
                           <input type="radio" id="J-status3" name="status" value="未购" /><label for="J-status3">未购</label>
                       </div>
                     </dd>
     			</dl>
     		</form>
     	</div>
     	<!--编辑购件表单信息-->
      <br/>
      <div class="tool-bar clrfix">
        <input type="hidden" name="qid" value="<%= @question.id %>" id="J-question_id" />
        <button type="submit" class="submit-btn" id="J-add_edit_info">保存</button>
        <button type="cancel" class="cancel-btn">取消</button>
      </div>
    </div>
</div>
