<%= content_for :head do %>
    <%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>
    <%= javascript_include_tag "user" %>
    <%= javascript_include_tag "newpart" %>
<% end %>
<!----main-block{{{---->
<div class="main-block">
    <!----main-content{{{{---->
    <div class="main-content">
        <!----admin-content{{{{{---->
        <div class="admin-content">
            <h2>新件详情<span class="info"></span></h2>
            <!--新件信息{-->
            <div class="content-set">
                <div class="hd">
                    <h2>新件信息</h2>
                </div>
                <div class="bd">
                    <dl class="details-info">
                        <dd>
                            <table>
                                <tbody>
                                    <input type="hidden" id="J-newpart_id" value="<%= @newpart.id %>"/>
                                    <!--<input type="hidden" id="J-wid" value="<%#= @workflow.id %>"/>-->
                                    <tr>
                                        <th>新件品牌</th>
                                        <td><%= @newpart.category %></td>
                                    </tr>
                                    <tr>
                                        <th>新件名称</th>
                                        <td><%= @newpart.name %></td>
                                    </tr>
                                    <tr>
                                        <th>新件图号</th>
                                        <td><%= @newpart.drawing %></td>
                                    </tr>
                                    <tr>
                                        <th>厂家名称</th>
                                        <td><%= @newpart.factory %></td>
                                    </tr>
                                    <tr>
                                        <th>厂家代码</th>
                                        <td><%= @newpart.factory_code %></td>
                                    </tr>
                                    <tr>
                                        <th>流水号</th>
                                        <td><%= @newpart.running_number %></td>
                                    </tr>
                                    <tr>
                                        <th>数量</th>
                                        <td><%= @newpart.count %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="tool-bar tr clrfix">
                <button class="edit-btn editNewpart">编辑</button>
                <button class="cancel-btn">返回</button>
            </div>
            <!----}}}}}}content-set---->
        </div>
        <!----}}}}}admin-content---->
    </div>
    <!----}}}}main-content---->
    <!--编辑新件弹框{-->
    <div id="J-Newpart_edit">
        <div class="form-set">
            <form method="put" action="">
                <dl>
                  <dt>新件品牌</dt>
                  <dd>
                    <div class="radio" id="U-category">
                      <input type="radio" id="U-category1" name="category" value="潍柴" /><label for="U-category1">潍柴</label>
                      <input type="radio" id="U-category2" name="category" value="北奔" /><label for="U-category2">北奔</label>
                      <input type="radio" id="U-category3" name="category" value="陕汽" /><label for="U-category3">陕汽</label>
                      <input type="radio" id="U-category4" name="category" value="法士特" /><label for="U-category4">法士特</label>
                    </div>
                  </dd>
                    <dt>新件名称</dt>
                    <dd><input type="text" class="inp inp2" id="U-name"/></dd>
                    <dt>新件图号</dt>
                    <dd><input type="text" class="inp inp2" id="U-drawing"/></dd>
                    <dt>厂家名称</dt>
                    <dd><input type="text" class="inp inp2" id="U-factory"/></dd>
                    <dt>厂家代码</dt>
                    <dd><input type="text" class="inp inp2" id="U-factory_code"/></dd>
                    <dt>流水号</dt>
                    <dd><input type="text" class="inp inp2" id="U-running_number"/></dd>
                    <dt>数量</dt>
                    <dd><input type="text" class="inp inp2" id="U-count"/></dd>
                </dl>
            </form>
        </div>
    </div>
    <!--}编辑新件弹框-->
</div>
<!----}}}main-block---->