<%= content_for :head do %>
    <%= javascript_include_tag "group" %>
    <%= javascript_include_tag "company" %>
<% end %>

<div class="main-content">
    <div class="admin-content">
        <h2><%= link_to "#{@company.name}", setting_admin_company_path(@company) %>&gt;&gt;<%= @group.name %><span class="info"></span></h2>
        <div class="tool-bar clrfix">
            <button class="submit-btn" id="addusers">保存</button>
            <button class="cancel-btn">取消</button>
        </div>
        <div class="UserSelector">
            <div class="leftBox">
                <div class="content borderBase" id="userLeftBox">
                  <div class="depBoxContent" id="leftBox">
                    <h3>已有员工</h3>
                        <input id="J-group_id" type="hidden" value="<%= @group.id %>" />
                        <input id="J-company_id" type="hidden" value="<%= @company.id %>" />
                        <% if @group.users.any? %>
                          <% @group.users.each do |user| %>
                            <div class="userBox">
                              <input type="checkbox" class="userCheckbox" id="<%= user.id %>" name="<%= @group.id %>" value="<%= user.fullname %>"/>
                                <label for="user-2"><%= user.fullname %></label>
                            </div>
                          <% end %>
                        <% end %>
                  </div>
                </div>
            </div>
            <!----}}}}}}}form---->
            <div class="centerBox">
                <div>
                    <a href="#" id="toRight">
                        <%= image_tag("to_right.png") %>
                    </a>
                </div>
                <div style="margin-top:20px;">
                    <a href="#" id="toLeft">
                        <%= image_tag("to_left.png") %>
                    </a>
                </div>
            </div>
            <!----}}}}}}}centerBox---->
            <!----rightBox{{{{{{{---->
            <div class="rightBox">
                <div class="content borderBase" id="rightBox" name="right">
                    <h3>可分配员工</h3>
                    <% users = User.all - @group.users %>
                    <% if users.any? %>
                        <% users.each do |user| %>
                            <div class="userBox">
                                <input type="checkbox" class="userCheckbox" id="<%= user.id %>" name="" value="<%= user.fullname %>" />
                                <label for="<%= user.id %>"><%= user.fullname %></label>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <!----}}}}}}}rightBox---->
        </div>
        <!----}}}}}}increaseUser---->
    </div>
    <!----}}}}}admin-content---->
</div>
<!----}}}}main-content---->
