<%= content_for :head do %>
    <%= javascript_include_tag "jquery.ui.datepicker-zh-CN" %>
    <%= javascript_include_tag "user" %>
    <%= javascript_include_tag "oldpart" %>
<% end %>
<!----main-content{{{{---->
<div class="main-content">
    <!----admin-content{{{{{---->
    <div class="admin-content">
        <h2>旧件详情<span class="info"></span></h2>
        <!--基本信息{-->
        <div class="content-set">
            <div class="hd">
                <h2>基本信息</h2>
            </div>
            <div class="bd">
                <dl class="details-info">
                    <dd>
                        <table>
                            <tbody>
                                <tr>
                                  <th>旧件品牌</th>
                                  <td><%= @oldpart.category %></td>
                                </tr>
                                <tr>
                                    <th>旧件名称</th>
                                    <td><%= @oldpart.name %></td>
                                </tr>
                                <tr>
                                    <th>旧件图号</th>
                                    <td><%= @oldpart.drawing %></td>
                                </tr>
                                <tr>
                                    <th>旧件流水号</th>
                                    <td><%= @oldpart.running_number %></td>
                                </tr>
                                <tr>
                                    <th>厂家名称</th>
                                    <td><%= @oldpart.factory %></td>
                                </tr>
                                <tr>
                                    <th>厂家代码</th>
                                    <td><%= @oldpart.factory_code %></td>
                                </tr>
                                <tr>
                                    <th>备注</th>
                                    <td><%= @oldpart.note %></td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
        <!--故障信息{-->
        <div class="content-set">
            <div class="hd">
                <h2>故障信息</h2>
            </div>
            <div class="bd">
                <dl class="details-info">
                    <dd>
                        <table>
                            <tbody>
                                <tr>
                                    <th>故障描述</th>
                                    <td><%= @oldpart.fault_desc %></td>
                                </tr>
                                <tr>
                                    <th>破损模式</th>
                                    <td><%= @oldpart.pattern %></td>
                                </tr>
                                <tr>
                                    <th>仓库</th>
                                    <td><%= @oldpart.depot %></td>
                                </tr>
                                <tr>
                                    <th>状态</th>
                                    <td><%= @oldpart.status %></td>
                                </tr>
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="tool-bar tr clrfix">
            <button class="edit-btn editOldpart">编辑</button>
            <button class="cancel-btn">返回</button>
        </div>
        <!----}}}}}}content-set---->
    </div>
    <!----}}}}}admin-content---->
</div>
<!----}}}}main-content---->
<!--编辑旧件弹框{-->
<div id="J-Oldpart_edit">
    <div class="form-set">
        <form method="post" action="">
            <dl>
              <dt>旧件品牌</dt>
              <dd>
                <div class="radio" id="J-category">
                  <% @category.each do |cate| %>
                      <% if cate == @oldpart.category %>
                          <input type="radio" id="J-category<%= cate.id %>" name="category" value="<%= cate.name %>" checked="checked"/>
                          <label for="J-category<%= cate.id %>"><%= cate.name %></label>
                      <% else %>
                          <input type="radio" id="J-category<%= cate.id %>" name="category" value="<%= cate.name %>"/>
                          <label for="J-category<%= cate.id %>"><%= cate.name %></label>
                      <% end %>
                  <% end %>
                </div>
              </dd>
                <dt>旧件名称</dt>
                <dd>
                  <input type="text" class="inp inp2" id="J-name"/></dd>
                <dt>旧件图号</dt>
                <dd>
                  <input type="text" class="inp inp2" id="J-drawing"/></dd>
                <dt>厂家名称</dt>
                <dd><input type="text" class="inp inp2" id="J-factory"/></dd>
                <dt>厂家代码</dt>
                <dd><input type="text" class="inp inp2" id="J-factory_code"></dd>
                <dt>故障简述</dt>
                <dd><input type="text" class="inp inp2" id="J-fault_desc"></dd>
                <dt hidden="hidden">仓库</dt>
                <dd hidden="hidden"><input type="hidden" class="inp inp2" id="J-depot" value="<%=@current_company.simply %>"/></dd>
                <dt>旧件流水号</dt>
                <dd><input type="text" class="inp inp2" id="J-running_number"/></dd>
                <dt hidden="hidden">旧件状态</dt>
                <dd hidden="hidden"><input tyep="hidden" class="inp inp2" id="J-status" value="待入库"/></dd>
                <dt>数量</dt>
                <dd><input type="text" class="inp inp2" id="J-count"/></dd>
                <dt>故障简述</dt>
                <dd><input type="text" class="inp inp2" id="J-note"></dd>
            </dl>
        </form>
    </div>
</div>
<!--}编辑旧件弹框-->