<%= content_for :head do %>
    <%= javascript_include_tag "company" %>
<% end %>
<!----main-content{{{{---->
<div class="main-content">
    <!----admin-content{{{{{---->
    <div class="info-content">
        <h2>修改密码<span class="info"></span></h2>
        <div class="form-set">
          <%= form_for([:admin, @user]) do |f| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <dl>
                <dt><%= f.label :password, "新密码" %></dt>
                <dd><%= f.password_field :password, :class => "inp inp2" %></dd>
                <dt><%= f.label :password_confirmation %></dt>
                <dd><%= f.password_field :password_confirmation, :class => "inp inp2" %></dd>
              </dl>
              <div class="tool-bar tr clrfix">
                  <button class ="submit-btn" >保存</button>
                  <button class="cancel-btn">取消</button>
              </div>
            <% end %>
        </div>
    </div>
    <!----}}}}}admin-content---->
</div>
<!----}}}}main-content---->