<h3><%= I18n.t('views.repairs.list') %></h3>

<table>
  <tr>
    <th><%= I18n.t('views.repairs.service_number') %></th>
    <th><%= I18n.t('views.repairs.fault') %></th>
    <th><%= I18n.t('views.repairs.vehicle') %></th>
    <th><%= I18n.t('field.operate') %></th>
  </tr>

<% @repairs.each do |repair| %>
  <tr>
    <td><%= repair.service_number %></td>
    <td><%= repair.fault_id %></td>
    <td><%= repair.vehicle_id %></td>
    <td>
      <%= link_to I18n.t('views.links.show'), repair %>
      <%= link_to I18n.t('views.links.edit'), edit_repair_path(repair) %>
      <%= link_to I18n.t('views.links.delete'), repair, confirm: I18n.t('txt.are_you_sure'), method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @repairs %>