<%= content_for :topmenu do %>
    <ul>
      <li><%= link_to I18n.t('views.menu.customers'), customers_path %></li>
      <li><%= link_to I18n.t('views.menu.vehicles'), vehicles_path %></li>
      <li><%= link_to I18n.t('views.menu.faults'), faults_path %></li>
      <li><%= link_to I18n.t('views.menu.old_parts'), oldparts_path %></li>
      <li><%= link_to I18n.t('views.menu.new_parts'), newparts_path %></li>
      <li class="current"><%= link_to I18n.t('views.menu.repairs'), repairs_path %></li>
      <li><%= link_to I18n.t('views.menu.expenses'), expenses_path %></li>
      <li><%= link_to I18n.t('views.menu.work_flow'), workflow_flow_workflows_path %></li>
      <li><%= link_to I18n.t("views.menu.user_manage"), users_path %></li>
      <li><%= link_to I18n.t("views.menu.profile"), profiles_path %></li>
    </ul>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('views.repairs.service_number') %></b>
  <%= @repair.service_number %>
</p>

<p>
  <b><%= I18n.t('views.repairs.fault') %></b>
  <%= @repair.fault_id %>
</p>

<p>
  <b><%= I18n.t('views.repairs.vehicle') %></b>
  <%= @repair.vehicle_id %>
</p>


<%= link_to I18n.t('views.links.edit'), edit_repair_path(@repair) %> |
<%= link_to I18n.t('views.links.back'), repairs_path %>
