<%=  content_for :head do %>
    <%=  javascript_include_tag "car_buying" %>
    <%=  javascript_include_tag "jquery.md5" %>
<% end %>
<div class="main-content">
    <div class="admin-content">
      <!--编辑购车表单信息-->
     	<div id="J_edit_contact" class="contact-form">
     		<h2><%=  link_to "购车", question_car_buyings_path(@question) %>&gt;&gt;查看购车信息<span class="info"></span></h2>
     		<form method="put" action="" id="J-edit-contact-form">
     			<dl class="clrfix">
     				<dt><label for="J-customer_name">客户姓名</label></dt>
                   <dd><input type="text" id="J-customer_name" value="<%= @customer.fullname %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-custoemr_phone">客户电话</label></dt>
                   <dd><input type="text" id="J-customer_phone" value="<%= @customer.phone %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-description">购车意向</label></dt>
                   <dd><textarea id="J-description" class="textarea textarea2b" readonly="readonly"><%= @car_buying.description %></textarea></dd>
                   <br/><dt><label for="J-referral">推荐人</label></dt>
                   <dd><input type="text" id="J-referral" value="<%= @car_buying.referral %>" class="inp inp2 focus" readonly="readonly" /></dd>
                   <br/><dt><label for="J-manager">销售经理</label></dt>
                   <dd><input type="text" id="J-manager" value="<%= @car_buying.manager %>" class="inp inp2 focus" readonly="readonly"/></dd>
                   <br/><dt><label for="J-salesman">业务员</label></dt>
                   <dd><input type="text" id="J-salesman" value="<%= @car_buying.salesman %>" class="inp inp2 focus" readonly="readonly" /></dd>
                   <br/><dt>状态</dt>
                     <dd>
                       <input type="text" id="J-status" value="<%= @car_buying.status %>" class="inp inp2 focus" readonly="readonly" />
                     </dd>
     			</dl>
     		</form>
     	</div>
     	<!--编辑购车表单信息-->
      <br/>
      <div class="tool-bar clrfix">
        <input type="hidden" name="qid" value="<%= @question.id %>" id="question_id" />
        <% if @car_buying === @car_buyings.first %>
          <% if @car_buying.status == "指派业务员" %>
            <%=  button_to "编辑", add_salesman_question_car_buying_path(@question, @car_buying), :class=>"button", :method => :get %>
          <% else %>
            <%= button_to "编辑", edit_question_car_buying_path(@question, @car_buying), :class=>"button", :method => :get  %>
          <% end %>
        <% end %>
            <%= button_to "返回", :back, :class=>"button cancel-btn" %>
      </div>
    </div>
</div>
